<ul style="color: red;" ng-if="error">
  <li ng-repeat="err in error">{{err}}</li>
</ul>

<div ng-if="token">
  {{token}}
</div>

<div>
  <h1>Data</h1>
  {{data.foo}}
</div>

<div>
  <a href="https://oauth.astuart.co/authorize?client_id=1&redirect_uri=http://localhost:9000/login&response_type=code&scope=/thing/*">
    Login with oauth
  </a>
</div>

<div>
  <a href="https://idp.astuart.co/idp/profile/SAML2/Unsolicited/SSO?providerId=oauth.astuart.co&target=oauth.astuart.co/saml?grant_type=saml2-bearer&client_id=1&response_type=code&redirect_uri=http://localhost:9000/login">
    Login with SAML
  </a>
</div>
